// Converte px para rem
@function rem($pixel, $context: 16) {
  @return $pixel / $context + rem;
}

// tamanho das telas para os breakpoints
$mobile: 599;
$tablet: 600;
$tablet-up: 900;
$desktop: 1200;
$desktop-up: 1800;

// breakpoints
@mixin d($device) {
  @if ($device == mobile) {
    @media (max-width: $mobile + px) {
      @content;
    }
  } @else if($device == tablet) {
    @media (min-width: $tablet + px) {
      @content;
    }
  } @else if($device == tablet-up) {
    @media (min-width: $tablet-up + px) {
      @content;
    }
  } @else if($device == desktop) {
    @media (min-width: $desktop + px) {
      @content;
    }
  } @else if($device == desktop-up) {
    @media (min-width: $desktop-up + px) {
      @content;
    }
  }
}

// Espaçamento paginas
@mixin espacamentoPagina {
  padding: $espacamento_grande 0;

  @include d(mobile) {
    padding: $espacamento_medio 0;
  }

  @include d(tablet) {
    padding: $espacamento_grande 0;
  }

  @include d(desktop) {
    padding: $espacamento_grande 0;
  }
}

// Altura das linhas dos paragrafos
@function alturaLinha($tamanhoTexto) {
  @return $tamanhoTexto * 1.5 + px;
}

// Duas linhas uma laranja e uma verde embaixo do elemento
@mixin linhasBottom {
  box-shadow: 0 1px 0 $laranja, 0 4px 0 #fff, 0 5px 0 $verde;
}
