// Converte px para rem
@function rem($pixel, $context: 16) {
  @return $pixel / $context + rem;
}

// tamanho das telas para os breakpoints
$mobile: 599;
$tablet: 600;
$tablet-up: 900;
$desktop: 1200;
$desktop-up: 1800;

// breakpoints
@mixin d($device) {
  @if ($device == mobile) {
    @media (max-width: $mobile + px) {
      @content;
    }
  } @else if($device == tablet) {
    @media (min-width: $tablet + px) {
      @content;
    }
  } @else if($device == tablet-up) {
    @media (min-width: $tablet-up + px) {
      @content;
    }
  } @else if($device == desktop) {
    @media (min-width: $desktop + px) {
      @content;
    }
  } @else if($device == desktop-up) {
    @media (min-width: $desktop-up + px) {
      @content;
    }
  }
}
