// Limita e centraliza os elementos para ficar sempre centralizado no monitor e não grudar nos cantos da tela
.u-container {

 @include d(mobile) {
   max-width: 90%;
    margin: 0 0.5rem;
  }

  @include d(tablet) {
    max-width: 720px;
    margin: 0 1.5rem;
  }

  @include d(tablet-up) {
    max-width: $tablet-up + px;
  }

  @include d(desktop) {
    max-width: $desktop + px;
  }

  @include d(desktop-up) {
    max-width: $desktop-up + px;
  }
}

// Font weight
.u-bold {
  font-weight: $bold;
}
.u-semi-bold {
  font-weight: $semi-bold;
}
.u-regular {
  font-weight: $regular;
}

// texto
.u-text-white {
  color: $branco;
}

.u-text-uppercase {
  text-transform: uppercase;
}
