// Limita e centraliza os elementos para ficar sempre centralizado no monitor e não grudar nos cantos da tela
.u-container {
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;

  @include d(mobile) {
    max-width: $mobile + px;
  }

  @include d(tablet) {
    max-width: 720px;
  }

  @include d(tablet-up) {
    max-width: $tablet-up + px;
  }

  @include d(desktop) {
    max-width: $desktop + px;
  }

  @include d(desktop-up) {
    max-width: $desktop-up + px;
  }
}

// Font weight
.u-bold {
  font-weight: $bold;
}
.u-semi-bold {
  font-weight: $semi-bold;
}
.u-regular {
  font-weight: $regular;
}

// texto
.u-text-white {
  color: $branco;
}

.u-text-uppercase {
  text-transform: uppercase;
}
