// Fontes
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,500&display=swap');
$montserrat: 'Montserrat', sans-serif;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Tamanho fontes
/*
  16px
  19px
  22px
  32px
*/

// Cores
$laranja: #e2781c;
$verde: #56984a;
$verdeClaro: #5ca151;
$cinza: #dedddd;
$branco: #fff;
$preto: #000;
