$componentName: "l-cartao";

// Pagina cartão
.#{$componentName} {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include espacamentoPagina;

  // descricao
  &__descricao {
    line-height: alturaLinha(16);
  }
  // inline
  &__inline {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: $espacamento_medio 0;

    @include d(mobile) {
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-top: 0;
    }
  }

  // como baixar
  &__como-baixar {
    font-size: $grande;
    line-height: calc(16px * 1.5);

    strong {
      display: block;
      font-weight: $bold;
    }
  }

  // dias para pagar
  &__dias-pagar {
    background-color: $verde;
    padding: $espacamento_pequeno $espacamento_medio;
    font-size: $grande;
    font-weight: $bold;
    color: $branco;
    border-radius: 8px;

    @include d(mobile) {
      margin-top: $espacamento_pequeno;
    }
  }

  // list dia comprar
  &__list {
    background: #f3f0f3;
    padding: 0.5rem;
    // width: 50%;
    width: auto;
    align-self: center;

    @include d(mobile) {
      width: 100%;
    }

    @include d(tablet) {
      width: 100%;
    }

    @include d(desktop) {
      width: 50%;
    }
  }

  // list bordered
  &__list-border {
    border: 3px solid $laranja;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
  }

  // titulo list
  &__list-title {
    background: $laranja;
    color: $branco;
    font-weight: $bold;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    text-transform: uppercase;
  }

  // list inline
  &__list-inline {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: $branco;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    ul {
      display: flex;
      list-style: none;
      background: #e0ddde;
      border-radius: 8px;

      &:nth-child(1) {
        margin-top: 0.5rem;
      }

      &:nth-child(2) {
        margin: 0.5rem 0;
      }

      @include d(mobile) {
        width: 100%;
        //  align-items: center;
        flex-direction: column;
      }
    }
  }

  // list item
  &__list-item {
    margin-right: 1rem;
    background: #ffbfa4;
    color: $preto;
    padding: 0.5rem;
    font-weight: bold;

    @include d(mobile) {
      text-align: center;
      border-bottom: 1px solid #f3f0f3;
    }
  }

  // title list item
  &__list-item--title {
    font-weight: bold;
    text-transform: uppercase;
    margin-right: $espacamento_pequeno;
    background: none;
    color: $preto;
    min-width: 240px;
  }
}
