$componentName: "l-dicas";

.#{$componentName} {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include espacamentoPagina;

  @include d(mobile) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // prato
  &__prato {
    width: 50%;
    padding-right: $espacamento_pequeno;

    &:nth-last-child(1) {
      margin-bottom: $espacamento_grande;
    }

    @include d(mobile) {
      width: 100%;
      margin-bottom: $espacamento_medio;
      padding-right: 0;
    }

    @include d(tablet) {
      margin-bottom: $espacamento_medio;
      flex-direction: column !important;
    }

    @include d(desktop) {
      flex-direction: row !important;
    }
  }

  // nome do prato
  &__nome-prato {
    padding-left: $espacamento_pequeno;

    @include d(mobile) {
      margin-top: $espacamento_medio;
    }
    @include d(tablet) {
      margin-top: $espacamento_medio;
    }
    @include d(desktop) {
      margin-top: 0;
      padding-left: $espacamento_medio;
    }
  }

  // imagem do prato
  &__image {
    width: 320px;

    @include d(mobile) {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    @include d(tablet) {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    @include d(tablet-up) {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }

    img {
      width: 320px;
      height: 320px;
      border-radius: 8px;

      @include d(mobile) {
        width: 250px;
        height: 250px;
      }

      @media (max-width: 320px) {
        width: 220px;
        height: 220px;
      }

      @include d(tablet) {
        width: 250px;
        height: 250px;
      }

      @include d(desktop) {
        width: 280px;
        height: 280px;
      }

      @include d(tablet-up) {
        width: 300px;
        height: 300px;
      }
    }
  }
}
