$component_name: ".l-empresa";

#{$component_name} {
  display: flex;
  flex-direction: column;
  @include espacamentoPagina;

  // Content
  &__content {
    display: flex;
    flex-wrap: wrap;

    @include d(mobile) {
      flex-direction: column;
    }

    & p {
      font-size: $normal;
      line-height: calc(16px * 1.5);

      &:not(:nth-child(1)) {
        margin-top: $espacamento_pequeno;
      }
    }

    // Content: sobre
    &-sobre {
      width: 70%;
      padding-right: $espacamento_grande;

      @include d(mobile) {
        width: 100%;
        padding-right: 0;
      }

      & p {
        &:nth-last-child(1) {
          margin-bottom: $espacamento_medio;
        }
      }
    }

    // Content: sobre-img
    &-sobre-img {
      width: 30%;
      text-align: right;

      @include d(mobile) {
        width: 100%;
        text-align: center;
      }

      & img {
        border-radius: 8px;
        max-width: 100%;
        max-height: 363px;
      }
    }

    // Content: Missão
    &-missao {
      width: 50%;
      padding-right: $espacamento_medio;

      @include d(mobile) {
        width: 100%;
        padding-right: 0;
        margin-top: $espacamento_medio;
      }
    }

    // Content: Visão
    &-visao {
      width: 50%;

      @include d(mobile) {
        width: 100%;
        margin-top: $espacamento_medio;
      }
    }

    // Content: Valores
    &-valores {
      margin-top: $espacamento_medio;
    }
  }
}
