$componentName: "l-post";

.#{$componentName} {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include espacamentoPagina;

  /* Titulo do post */
  &__title {
    @include linhasBottom;

    // Titulo
    &-text {
      font-size: $gigante;
      color: $preto;
      line-height: alturaLinha(32);
      margin-bottom: $espacamento_medio;
      text-transform: uppercase;

      @include d(mobile) {
        line-height: alturaLinha(22);
        font-size: $grande;
        margin-bottom: $espacamento_pequeno;
      }
    }

    // Descrição
    &-desc {
      margin-bottom: $espacamento_medio;
      font-size: $normal;
      line-height: alturaLinha(16);
      text-align: center;

      @include d(mobile) {
        margin-bottom: $espacamento_pequeno;
        font-size: $pequeno;
        line-height: alturaLinha(14);
        text-align: left;
      }
    }
  }

  /* artigo */
  &__artigo {
    display: flex;
    flex-direction: column;
    margin-top: $espacamento_grande;

    @include d(mobile) {
      margin-top: $espacamento_medio;
    }

    & p {
      font-size: $medio;
      line-height: alturaLinha(22);

      &:not(:nth-child(1)) {
        margin-top: $espacamento_medio;
      }

      // Links
      & a {
        color: $laranja;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: $preto;
          transition: 0.3s;
          text-decoration: underline;
        }
      }
    }

    // Imagens
    & img {
      width: 80%;
      height: 467px;
      align-self: center;
      border-radius: 8px;
      box-shadow: 1px 1px 2px $preto, -1px -1px 2px $preto;
      margin: $espacamento_grande 0;

      @include d(mobile) {
        width: 100%;
      }
    }

    // figure
    & figure {
      width: 80%;
      margin: $espacamento_medio auto $espacamento_grande auto;
      @include linhasBottom;
      padding-bottom: $espacamento_pequeno;
      text-align: center;

      @include d(mobile) {
        width: 100%;
      }

      & img {
        margin: 0;
      }

      & figcaption {
        width: 100%;
        line-height: alturaLinha(14);
        font-size: $pequeno;
        margin-top: $espacamento_pequeno;
        padding-bottom: $espacamento_pequeno;
      }
    }

    // Titulo
    & h1 {
      font-size: $gigante;
    }
  }
}
