$layout: "l-sobre";

// Sobre - Home
.#{$layout} {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include espacamentoPagina;

  @include d(mobile) {
    flex-direction: column;
  }

  @include d(tablet) {
    flex-wrap: wrap;
  }

  @include d(tablet-up) {
    flex-wrap: nowrap;
  }

  // nossas-lojas
  .c-card:nth-child(2) {
    padding: 0 $espacamento_grande;

    @include d(mobile) {
      padding: $espacamento_medio 0;
    }

    @include d(tablet) {
      padding: $espacamento_medio 0;
    }

    @include d(tablet-up) {
      padding: 0 $espacamento_grande;
    }
  }
}
