$componentName: "c-cartao-etapas";

// etapas pagina cartao
.#{$componentName} {
  width: 100%;
  background-color: $verde;
  color: $branco;
  font-weight: $bold;
  font-size: rem(22);
  padding: $espacamento_medio;
  border-radius: rem(38);
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;

  &:not(:nth-last-child(1)) {
    margin-bottom: $espacamento_medio;
  }

  @include d(mobile) {
    padding: $espacamento_pequeno;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }

  @include d(tablet) {
    padding: $espacamento_medio;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }

  @include d(tablet-up) {
    padding: $espacamento_medio;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
  }

  // numero
  &__numero {
    font-size: rem(152);
    font-weight: bold;
    color: $branco;
    margin-left: $espacamento_medio;
    margin-right: $espacamento_medio;

    @include d(tablet) {
      margin-left: 0;
    }

    @include d(desktop) {
      margin-left: $espacamento_medio;
    }
  }

  // paragrafo
  &__descricao {
    text-transform: uppercase;
    line-height: alturaLinha(16);
    flex: 2;
    font-size: $normal;

    @include d(mobile) {
      text-align: center;
    }

    @include d(tablet) {
      text-align: center;
    }
    @include d(tablet-up) {
      text-align: left;
    }
  }

  // loja de aplicativos
  &__aplicativos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
    text-align: center;

    @include d(mobile) {
      margin: $espacamento_medio 0;
    }

    @include d(tablet) {
      margin: $espacamento_medio 0;
    }

    @include d(tablet-up) {
      margin: 0;
    }

    @include d(desktop-up) {
      flex: 5;
    }

    span {
      width: 200px;
      background-color: $preto;
      padding: $espacamento_pequeno;
      border-radius: rem(28);
      font-size: $medio;
      border: 1px solid $preto;
      cursor: pointer;

      &:not(:nth-child(1)) {
        margin-top: $espacamento_pequeno;
      }

      &:hover {
        transition: 0.3s;
        background: $laranja;
        border: 1px solid $verdeClaro;
      }
    }

    // a:link
    & a {
      color: $branco;
      text-decoration: none;
      &:hover {
        color: $preto;
      }
    }
  }

  // qr code
  &__qr-code {
    background-color: $verde;
    text-align: center;
    flex: 2;

    img {
      width: 200px;
      height: 200px;
      border-radius: rem(18);
    }
  }

  // modificadores
  &--reverse {
    flex-direction: row-reverse;

    @include d(mobile) {
      flex-direction: column;
    }
  }

  &--numero-reverse {
    color: $laranja;
  }
}
