$componentName: "c-card";

.#{$componentName} {
  // Titulo
  &__title {
    font-weight: $semi-bold;
    text-transform: uppercase;
    font-size: $grande;
  }

  // Descrição
  &__descricao {
    font-size: $normal;
    line-height: alturaLinha(16);
    margin: $espacamento_medio 0;
  }

  // Link com a borda preta
  &__link {
    width: 69px;
    max-height: 37px;
    border: 1px solid $laranja;
    transform: rotateZ(4deg);
    text-align: center;
    font-size: $normal;

    &:hover {
      border-color: $verde;
    }
  }

  // Item clicavel (Texto)
  &__link-item {
    transform: rotateZ(7deg);
  }

  // Borda verde
  &__border {
    border: 1px solid $verde;
    transform: rotateZ(-11deg);
    padding: 0.2rem;

    &:hover {
      border-color: $laranja;
    }
  }

  & a {
    text-decoration: none;
    color: $laranja;
    font-weight: $semi-bold;
    display: inline-block;

    &:hover {
      opacity: 0.9;
      transition: 0.3s;
      color: $verde;
    }
  }

  // Modificadores
  &--inline {
    display: flex;

    @include d(mobile) {
      flex-direction: column;
    }
    @include d(tablet) {
      flex-direction: column;
    }
    @include d(tablet-up) {
      flex-direction: row;
    }
  }
}
