$componentName: "c-cartao-etapas";

// etapas pagina cartao
.#{$componentName} {
  width: 100%;
  background-color: $verde;
  color: $branco;
  font-weight: $bold;
  font-size: rem(22);
  padding: rem(25) rem(45);
  border-radius: rem(38);
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;

  &:not(:nth-last-child(1)) {
    margin-bottom: rem(45);
  }

  @include d(mobile) {
    padding: rem(25) rem(45);
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }

  // numero
  &__numero {
    font-size: rem(152);
    font-weight: bold;
    color: $branco;
    margin-left: rem(45);
    margin-right: rem(45);

    @include d(tablet) {
      margin-left: 0;
    }

    @include d(desktop) {
      margin-left: rem(45);
    }
  }

  // paragrafo
  &__descricao {
    text-transform: uppercase;
    line-height: rem(30);
    flex: 2;
    font-size: rem(16);
  }

  // loja de aplicativos
  &__aplicativos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
    text-align: center;

    @include d(mobile) {
      margin: rem(45) 0;
    }

    @include d(desktop-up) {
      flex: 5;
    }

    span {
      width: 200px;
      background-color: $preto;
      padding: rem(15);
      border-radius: rem(28);
      font-size: rem(19);
      border: 1px solid $preto;
      cursor: pointer;

      &:not(:nth-child(1)) {
        margin-top: 1.5rem;
      }

      &:hover {
        transition: 0.3s;
        background: $laranja;
        border: 1px solid $verdeClaro;
      }
    }
  }

  // qr code
  &__qr-code {
    background-color: $verde;
    text-align: center;
    flex: 2;

    img {
      width: 200px;
      max-height: 200px;
      border-radius: rem(18);
    }
  }

  // modificadores
  &--reverse {
    flex-direction: row-reverse;

    @include d(mobile) {
      flex-direction: column;
    }
  }

  &--numero-reverse {
    color: $laranja;
  }
}
