$componentName: "c-menu";

// menu
.#{$componentName} {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $laranja;
  position: relative;
  flex-wrap: wrap;

  // ul do menu - alinha os links na mesma linha
  &__list {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $medio 0;

    // alinha os links um embaixo do outro no mobile e tablet
    @include d(mobile) {
      flex-direction: column;
      align-items: flex-start;
      display: none;
      padding-left: $medio !important;
    }

    @include d(tablet) {
      flex-direction: column;
      align-items: flex-start;
    }

    // alinha os links em linha nas telas maiores
    @include d(tablet-up) {
      flex-direction: row;
      justify-content: flex-start;
    }

    // menu mobile list
    @include d(mobile) {
      &[data-menu-list="close"] {
        opacity: 0;
      }
      &[data-menu-list="open"] {
        animation: animeLeft 0.3s forwards;
        display: flex;
      }
    }
  }

  // Nav links
  &__item {
    font-size: $medio;
    color: $branco;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: $semi-bold;

    // margem entre os links no mobile e tablet
    @include d(mobile) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: $normal;
    }

    @include d(tablet) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      //  margin: 0.5rem 0;
      font-size: $normal;
    }

    @include d(tablet-up) {
      margin: 0;
      font-size: $medio;
      flex-direction: row;
      align-items: center;
    }

    // adiciona o separador entre os links
    &:not(:nth-child(1))::before {
      // remove os separadores no mobile e tablet e altera espaçamentos
      @include d(mobile) {
        content: "";
        width: 80%;
        height: 1px;
        background: $branco;
        display: block;
        margin: 0.8rem 0;
      }

      @include d(tablet) {
        content: "";
        width: 80%;
        height: 1px;
        background: $branco;
        display: block;
        margin: 0.8rem 0;
      }

      @include d(tablet-up) {
        content: "";
        width: 1px;
        height: $medio;
        background: $branco;
        display: block;
        margin: 0 1rem;
      }

      @include d(desktop) {
        margin: 0 2rem;
      }
    }

    // Cor dos links do menu
    & a {
      color: $branco;
      text-decoration: none;
      &:hover {
        color: $preto;
        transition: 0.3s;
      }
    }
  }

  // menu mobile
  @include d(mobile) {
    // menu mobile container
    &__mobile {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $verdeClaro;
      padding-right: $espacamento_medio;
    }

    // botao
    &__mobile-button {
      width: 45px;
      height: 45px;
      border: none;
      color: $branco;
      border-radius: 4px 4px 0 0;
      cursor: pointer;
      background-color: $verde;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      outline: 0;

      // trez traços
      &::before {
        content: "";
        width: 58%;
        height: 4px;
        background-color: $laranja;
        //border-radius: 2px;
        transition: 0.3s;
        box-shadow: 0 8px $laranja, 0 -8px $laranja;
      }

      // data-menu mobile aberto
      &[data-menu="open"] {
        background-color: $laranja;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        border: none;

        // X
        &::before {
          content: "";
          width: 4px;
          height: 68%;
          transform: rotateZ(45deg);
          background-color: #fff;
          transition: 0.3s;
          box-shadow: none;
        }

        // X
        &::after {
          content: "";
          width: 4px;
          height: 68%;
          transform: rotateZ(-45deg);
          background-color: #fff;
          transition: 0.3s;
        }
      }
    }

    // titulo do menu mobile
    &__mobile-title {
      font-weight: $semi-bold;
      font-size: $medio;
      color: $branco;
      align-self: center;
    }
  }

  // esconde menu mobile em outras telas
  @include d(tablet) {
    &__mobile {
      display: none;
    }
  }
}
