$componentName: "c-slide";

// Slide
.#{$componentName} {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: red;
  position: relative;

  // Imagens container
  &__imagens {
    display: flex;
    height: rem(428);
    overflow: hidden;

    // Tamanho das imagens nos diferentes tipos de tela
    @include d(mobile) {
      height: rem(128);
    }

    @include d(tablet) {
      height: rem(228);
    }

    @include d(tablet-up) {
      height: rem(328);
    }

    @include d(desktop) {
      height: rem(428);
    }

    @include d(desktop-up) {
      height: rem(528);
    }

    // Tamanho padrâo - acompanha o container
    img {
      min-width: 100%;
      max-width: 100%;
      height: 100%;
    }
  }

  // Bullets container
  &__bullets {
    background: $verde;
    position: absolute;
    bottom: 0;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: rem(8) rem(8) 0 0;

    @include d(mobile) {
      padding: 0.5rem;
    }

    // Bullets
    &-item {
      width: 22px;
      height: 22px;
      background: $laranja;
      border-radius: 50%;
      margin: 0 0.5rem;
      cursor: pointer;

      @include d(mobile) {
        margin: 0 0.2rem;
        width: 18px;
        height: 18px;
      }

      @include d(desktop-up) {
        width: 32px;
        height: 32px;
      }

      &:hover {
        background: $branco;
        transition: 0.3s;
      }
    }
  }
}
