$componentName: "c-title";

// Titulo com efeito virado
.#{$componentName} {
  position: relative;
  width: 270px;
  height: 44px;
  background: none;
  border: 1px solid $laranja;
  margin-bottom: $espacamento_medio;

  // altera tamanho do botao no mobile
  @include d(mobile) {
    width: 230px;
  }

  // borda verde virada no botao
  &__border {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    // border-radius: rem(8);
    background: none;
    border: 1px solid $verde;
    transform: rotateZ(-1.5deg);
  }

  // texto dentro do botão
  &__text {
    color: $preto;
    font-weight: $bold;
    font-size: $grande;
    transform: rotateZ(1.5deg);
    text-transform: uppercase;

    @include d(mobile) {
      font-size: $normal;
    }
  }

  // Modificadores
  &--post {
    width: auto;
    min-height: 47px;
    border: none !important;
    position: relative;
    margin: $espacamento_grande 0;

    & h1 {
      font-size: $gigante;
      line-height: alturaLinha(32);
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $laranja;
      position: absolute;
      bottom: -$espacamento_grande;
    }

    & .c-title__border {
      flex-direction: column;
      border: none !important;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $verde;
        position: absolute;
        bottom: -$espacamento_grande;
      }
    }
  }
}
