$layout: "l-sobre";

// Sobre - Home
.#{$layout} {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: rem(45) 0;

  @include d(mobile) {
    flex-direction: column;
  }

  @include d(tablet) {
    flex-wrap: wrap;
  }

  @include d(tablet-up) {
    flex-wrap: nowrap;
  }

  // Modificador para tipo de Página
  &--page {
    flex-direction: column;
  }

  // Pagina - Sobre

  // descricao
  &__descricao {
    flex: 2;
    margin: 0 !important;

    // paragrafos
    p {
      line-height: rem(30);

      &:not(:nth-child(1)) {
        margin-top: 1rem;
      }
    }

    // citação
    cite {
      font-weight: $semi-bold;
      font-size: rem(14);
    }
  }

  // nossas-lojas
  &__nossas-lojas {
    padding: 0 1.5rem;

    @include d(mobile) {
      padding: rem(45) 0;
    }

    @include d(tablet) {
      padding: rem(45) 0;
    }

    @include d(tablet-up) {
      padding: 0 1.5rem;
    }
  }

  // sobre nós
  &__sobre-nos {
    padding-right: 3rem;
    margin: 0 !important;

    // paragrafos
    p {
      line-height: rem(30);

      &:not(:nth-child(1)) {
        margin-top: 1rem;
      }
    }

    @include d(mobile) {
      padding-right: 0;
    }
  }

  // Imagem sobre nos
  &__image {
    border-radius: 4px;
    min-width: 100%;
    min-height: 50%;

    @include d(mobile) {
      max-width: 100%;
    }

    @include d(tablet) {
      max-width: 100%;
    }

    @include d(tablet-up) {
      min-width: 450px;
      max-width: 450px;
    }

    @include d(desktop-up) {
      min-height: 96%;
    }
  }

  // Missão
  &__missao {
    padding-right: 3rem;

    // paragrafos
    p {
      line-height: rem(30);

      &:not(:nth-child(1)) {
        margin-top: 1rem;
      }
    }

    @include d(mobile) {
      padding-right: 0;
    }
  }

  // titulo {
  &__title {
    width: 100%;
    margin-top: rem(35);
  }
}
